.git
.github
.gitignore
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
coverage_html
coverage.xml
test-results.xml
htmlcov
.env
.env.*
venv
.venv
*.md
LICENSE
.dockerignore
docker-compose.yml
.vscode